@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@import "tailwindcss";

* {
    font-family: "Chelsea Market", system-ui;
    /* font-family: "Short Stack", cursive; */
  /* font-family: "Alan Sans", sans-serif; */
}
